/*  your css code here. If applicable */
.container{
	background-color:gray;
	padding:15px;
}
#photo-heading{
	text-align:center;
	color:white;
	font-family:arial;
}
.single_image{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	gap:10px;
}
.single_image>img{
	height:100%;
	width:100%;
		border-radius:10px;
}